@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

@font-face {
    font-family: 't20';
    src: url('fontes/Tormenta20x.ttf') format('truetype');
}

:root {
    --vinho: #B5344A;
    --fundo: #9fa2a3/*#aaaaaa*/;
}

html, body {
    overflow-x: hidden;
    margin: 0 auto;
}

body {
    background-color: rgb(100, 99, 99);
    background-image: url('imagens/bg-esmeralda.jpg');
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 950px) {
    body {
        background-image: url('imagens/bg-esmeralda2.jpg');
        background-size: 150%;
    }
}

@media screen and (max-width: 300px) {
    body {
        background-image: none;
    }
}

@media screen and (max-height: 950px) and (orientation: landscape) {
    body {
        background-size: 115%;
        background-position: right top;
    }
}

header {
    background-color: white;
    text-align: center;
    width: 600px;
    margin: 22px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.404);
    font-family: 't20';
    color: var(--vinho);
    max-width: 80%;
    border: 3px solid var(--vinho);
    background-color: var(--fundo);
}

h1 {
    padding: 7px;
    margin: 0 auto;
}

section {
    border-radius: 10px;
    /*padding: 15px;*/
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.404);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 70%;
    border: 3px solid var(--vinho);
    background-color: var(--fundo);
}

div {
    padding: 15px;
    background-color: var(--fundo);
}

div#com {
    border-radius: 10px 10px 0px 0px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}
div#res {
    border-radius: 0px 0px 10px 10px;
}
div#secreto {
    border-radius: 10px;
    background-color: var(--fundo);
}
div#hidden {
    display: none;
}

section#escondido {
    display: none;
}

footer {
    background-color: white;
    text-align: center;
    width: 600px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.404);
    font-family: 'Alegreya Sans', sans-serif;
    max-width: 80%;
    border: 3px solid var(--vinho);
    background-color: var(--fundo);
}

footer > p, footer > h3 {
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

select, input {
    height: 25px;
    text-align: center;
    color: var(--vinho);
    font-weight: bold;
    font-size: 1.1em;
    background-color: rgb(190, 190, 190);
    border-radius: 5px;
    font-family: 'Alegreya Sans', sans-serif;
    border: 2px solid var(--vinho);
    padding-top: 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.404);
}

select {
    margin-top: 0px;
}

select:hover, input:hover {
    background-color: rgb(150, 150, 150);
}

option {
    font-weight: bold;
}

input#Gerar, select {
    width: 75px;
}